/coverage
/.nyc_output
node_modules
/es
.eslintcache
*.js
*.js.flow
*.d.ts
*.cjs
*.mjs
!/flow-typed/**/*.js
!/src/**/*.ts
!/src/**/*.js
!/src/**/*.js.flow
!/test/**/*.ts
!/test/**/*.js
!/test/**/*.js.flow
!/.babelrc.js
